a{
    text-decoration: none;
    color: light;
}
.dropdown:hover > .dropdown-menu{
    display: block;
}
#icon a:hover{
    box-shadow: 1px 1px 3px 3px goldenrod;  
    }
    .col-lg-6 h1{
        font-size: 55px;
       font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
  .col-lg-6  h2{
        font-family:Georgia, 'Times New Roman', Times, serif;
font-size: 30px;
    }
    .col-sm-12 h1{
        font-size: 65px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    .col-md-12 h1{
        font-size: 40px;
       font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    #container{
        background-color: rgb(222, 219, 219);
    }
    #container h2{
        font-size: 45px;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    }